{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table>
    <tr>
        {#sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.Nombre') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Nombre', 'a.Nombre') }}
        </th>
        <th{% if pagination.isSorted('a.NumTrabajadores') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Nº Trabajadores', 'a.NumTrabajadores') }}
        </th>
        <th{% if pagination.isSorted('a.direccion') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Dirección', 'a.direccion') }}
        </th>
        <th{% if pagination.isSorted('a.FechaFundacion') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Fecha de fundación', 'a.FechaFundacion') }}
        </th>
        {#<th>ID</th>
        <th>Nombre</th>
        <th>Nº Trabajadores</th>
        <th>Dirección</th>
        <th>Fecha de fundación</th>#}
    </tr>

    {# table body #}
    {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.nombre}}</td>
            <td>{{ article.NumTrabajadores}}</td>
            <td>{{ article.direccion}}</td>
            <td>{{ article.FechaFundacion | date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
