{% extends 'base.html.twig' %}

{% block title %} Editar libro {{libros.titulo}} {% endblock %}

{% block body %}

<h1>Editar libro</h1>
    <div class="form-group row">
        {{ form_start(formularioeditarLibro, {
            'attr': {'class': 'needs-validation'}
            }) 
        }}
        {{ form_errors(formularioeditarLibro) }}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarLibro.titulo, {
                        'attr': {'class': 'form-control','placeholder': 'Titulo del libro'},
                        'label': 'Titulo',
                        'placeholder': 'Titulo', 
                        'empty_data': libros.titulo,
                        'value' : libros.titulo
                        }) 
                    }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarLibro.autor, {
                        'attr': {'class': 'form-control','placeholder': 'Autor'},
                        'label': 'Autor',
                        'placeholder': 'Autor', 
                        'empty_data': libros.autor,
                        'value' : libros.autor
                        }) 
                    }}
                </div> 
            </div>  
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarLibro.tipo,{
                        'attr': {'class': 'form-control custom-select'},
                        'label': 'Tipo',
                        'placeholder': 'Tipo', 
                        'empty_data': libros.tipo,
                        'value' : libros.tipo
                        }) 
                    }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarLibro.ejemplares,{
                        'attr': {'class': 'form-control','placeholder': 'Ejemplares'},
                        'label': 'Ejemplares',
                        'placeholder': 'Ejemplares', 
                        'empty_data': libros.ejemplares,
                        'value' : libros.ejemplares
                        }) 
                    }}
                </div>   
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarLibro.fecha_publicacion, {
                        'value': libros.FechaPublicacion|date('Y-m-d') 
                        }) 
                    }}
                </div>

            </div>
            {{ form_row(formularioeditarLibro.Editar, { 
                'label': 'Editar', 
                'attr': {'class': 'btn btn-primary'}
                }) 
            }}
        {{ form_end(formularioeditarLibro) }}
    </div>
    
{% endblock %}
