{% extends 'base.html.twig' %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}
<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1>{{titulo}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            Autor <span class="form-control">{{autor}}</span>
        </div>
        <div class="col-md-6 mb-3">
            Ejemplares disponibles <span class="form-control">{{ejemplares}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            Categoría <span class="form-control">{{tipo}}</span>
        </div>
        <div class="col-md-6 mb-3">
            Fecha de publicación <span class="form-control">{{fecha |date('d-m-Y')}}</span>
        </div>
    </div>
</div>
{% endblock %}