{% extends 'base.html.twig' %}

{% block title %}Registro de bilioteca {% endblock %}

{% block body %}

<div>
    <h1>Edita la biblioteca "{{nombre_biblioteca}}"</h1>

    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <div class="form-group row">
        {{ form_start(formularioeditarBiblioteca, {
            'attr': {'class': 'needs-validation'}
            }) 
        }}
            {{ form_errors(formularioeditarBiblioteca) }}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarBiblioteca.nombre, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Nombre de la biblioteca', 
                            'empty_data': nombre_biblioteca,
                            'value' : nombre_biblioteca
                        },
                        'label': ' '
                        
                        }) 
                    }}
                </div>  
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarBiblioteca.num_trabajadores, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Número de trabajadores',
                            'empty_data': ntrabajadores,
                            'value' : ntrabajadores
                        },
                        'label': ' '
                        }) 
                    }}
                </div> 
            </div>  
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarBiblioteca.direccion, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Dirección',
                            'empty_data': direction,
                            'value' : direction
                        },
                        'label': ' '
                        }) 
                    }}
                </div>  
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarBiblioteca.fecha_fundacion, {
                        'attr': {
                            'id': 'example-date-input',
                            'empty_data': fecha| date('d-m-Y'),
                            'value' : fecha| date('d-m-Y')
                            
                        },
                        'label': 'Fecha de fundación'
                        }) 
                    }}
                </div>
            </div>

            {{ form_row(formularioeditarBiblioteca.Editar, { 
                'label': 'Enviar', 
                'attr': {'class': 'btn btn-primary'}
                }) 
            }}
        {{ form_end(formularioeditarBiblioteca) }}
    </div>

{% endblock %}
