{% extends 'base.html.twig' %}

{% block title %}Registro de bilioteca {% endblock %}

{% block body %}

<div>
    <h1>Edita la biblioteca "{{ biblioteca.nombre }}"</h1>

    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <div class="form-group row">
        {{ form_start(formularioeditarBiblioteca, {
            'attr': {'class': 'needs-validation'}
            }) 
        }}
            {{ form_errors(formularioeditarBiblioteca) }}
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    {{ form_row(formularioeditarBiblioteca.nombre, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Nombre de la biblioteca', 
                            'empty_data': biblioteca.nombre,
                            'value' : biblioteca.nombre
                        },
                        'label': ' '
                        
                        }) 
                    }}
                </div>  
                <div class="col-md-4 mb-3">
                    {{ form_row(formularioeditarBiblioteca.num_trabajadores, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Número de trabajadores',
                            'empty_data': biblioteca.NumTrabajadores,
                            'value' : biblioteca.NumTrabajadores
                        },
                        'label': ' '
                        }) 
                    }}
                </div> 
            </div>  
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    {{ form_row(formularioeditarBiblioteca.direccion, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Dirección',
                            'empty_data': biblioteca.direccion,
                            'value' : biblioteca.direccion
                        },
                        'label': ' '
                        }) 
                    }}
                </div>  
            </div>
            <div class="form-row"> 
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioeditarBiblioteca.fecha_fundacion, {
                        'value': biblioteca.FechaFundacion|date('Y-m-d') 
                        }) 
                    }}
                </div>
            </div>
        </div>
            {{ form_row(formularioeditarBiblioteca.Editar, { 
                'label': 'Enviar', 
                'attr': {'class': 'btn btn-primary'}
                }) 
            }}
        {{ form_end(formularioeditarBiblioteca) }}
    </div>

{% endblock %}
