{% extends 'base.html.twig' %}

{% block title %}Registro de bilioteca {% endblock %}

{% block body %}

<h1>Añade una biblioteca nueva</h1>
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <div class="form-group row">
        {{ form_start(formularioBiblioteca, {
            'attr': {'class': 'needs-validation'}
            }) 
        }}
            {{ form_errors(formularioBiblioteca) }}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioBiblioteca.nombre, {
                        'attr': {'class': 'form-control','placeholder': 'Nombre de la biblioteca'},
                        'label': ' ',
                        }) 
                    }}
                </div>  
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioBiblioteca.num_trabajadores, {
                        'attr': {'class': 'form-control','placeholder': 'Número de trabajadores'},
                        'label': ' ',
                        }) 
                    }}
                </div> 
            </div>  
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioBiblioteca.direccion, {
                        'attr': {'class': 'form-control','placeholder': 'Dirección'},
                        'label': ' ',
                        }) 
                    }}
                </div>  
                <div class="col-md-6 mb-3">
                    {{ form_row(formularioBiblioteca.fecha_fundacion, {
                        'attr': {'id': 'example-date-input'},
                        'label': 'Fecha de fundación'
                        }) 
                    }}
                </div>
            </div>

            {{ form_row(formularioBiblioteca.Registrar, { 
                'label': 'Registrar', 
                'attr': {'class': 'btn btn-primary'}
                }) 
            }}
        {{ form_end(formularioBiblioteca) }}
    </div>
{% endblock %}
