{% extends 'base.html.twig' %}

{% block title %}Registro de bilioteca {% endblock %}

{% block body %}
<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1>{{ biblioteca.nombre }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            Dirección <span class="form-control">{{ biblioteca.direccion }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            Número de trabajadores <span class="form-control">{{ biblioteca.NumTrabajadores }}</span>
        </div>
        <div class="col-md-6 mb-3">
            Fecha de fundación <span class="form-control">{{ biblioteca.FechaFundacion |date('d-m-Y') }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h2>Listado de libros de esta biblioteca:</h2>
        </div>
        <div class="col-md-12 mb-3">
            <table id="libros" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Género</th>
                            <th>Fecha de publicación</th>
                            <th>Ejemplares disponibles</th>
                            <th style="text-align: center;"><a href="{{biblioteca.id}}/registrar_libros"><img src="/img/circulo-plus.png" alt="Añadir nuevo libro" title="Añadir nuevo libro" /></a></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for lib in libr %}
                            {% for li in lib %}
                                <tr {% if loop.index is odd %}class="color"{% endif %}>
                                    <td>{{ li.titulo}}</td>
                                    <td>{{ li.autor}}</td>
                                    <td>{{ li.tipo}}</td>
                                    <td>{{ li.fecha_publicacion | date('d-m-Y')}}</td>
                                    <td>{{ li.ejemplares  }}</td>
                                    <td style="text-align: center;"><a href="{{biblioteca.id}}/verLibro/{{ li.id }}"><img src="/img/look.png" alt="Ver libro" title="Ver libro" /></a> <a href="{{biblioteca.id}}/editarLibro/{{ li.id }}"><img src="/img/editar.png" alt="Editar libro" title="Editar libro" /></a> <a onclick="return confirm('¿Estás seguro de que quieres borrar la biblioteca: {{ li.titulo}} ?')" href="{{biblioteca.id}}/borrarLibro/{{ li.id }}"><img src="/img/delete.png" alt="Eliminar libro" title="Eliminar libro" /></a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}
